    <form class="form signup" id="signup">
      <h2 class="form_title">Sign up</h2>
      <p class="form_message"></p>
        <label class="form_label">Email
          <input
          class="form_input"
          id="email"
          {{!-- type="email" --}}
          name="email"
          placeholder="Enter e-mail...."/>
        </label>
        <label class="form_label">Password
          <input
          class="form_input password-one"
          id="password"
          type="password"
          name="password"
          autocomplete="off"
          placeholder="Enter password...."/>
        </label>
        <label class="form_label">
        <input
          class="form_input password-two"
          id="passwordConfirm"
          type="password"
          name="passwordConfirm"
          autocomplete="off"
          placeholder="Repeat password...."/>
        </label>
        <button class="button modal-button " type="submit" >SIGN UP</button>
    </form>