 <form class="form" id="logIn">
      <h2 class="form_title">Log in</h2>
      <p class="form_message"></p>
        <label class="form_label">Email
          <input
          class="form_input"
          id="email"
          type="email"
          name="email"
          placeholder="Enter e-mail...."/>
        </label>
        <label class="form_label">Password
        <input
          class="form_input"
          id="password"
          type="password"
          name="password"
          autocomplete="off"
          placeholder="Enter password...."/>
        </label>
        <button class="button modal-button" id="submit" type="submit"  >LOG IN</button>
        <a class="to_signup" id="to_signup" href="#"> Create an Account </a>
    </form>