
<div class="member-info">
    {{#each this}}
    <div class="member-card">
        <div class="member-photo">
        <img src="{{{photo}}}" alt="team member">
        </div>
        <p class="member-name">{{name}}</p>
        <p class="member-role">{{role}}</p>
    </div>
    
    {{/each}}
</div>
