<ul class="member-info">
    {{#each this}}     
    <li class="member-list">
        <div class="member-card">
            <div class="member-photo">
                <img class="photo" src="{{photo}}" width="292" height="292"alt="team member">
            </div>
            <div class="member-description">
                <p class="member-name">{{name}}</p>
                <p class="member-role">{{role}}</p>
            </div>            
        </div>        
    </li>
    {{/each}}
</ul>    