// // text variables
$primary-font-family: 'Roboto', sans-serif;
// ==================================================================
// text colors
$primary-text-color: #000000;
$secondary-text-color: #545454;
$acent-text-color: #ff6b08;
$lite-text-color: #ffffff;
$darkest-text-color: #8c8c8c;
$warning-text-color: #ff001b;
// ==================================================================
// text size
$primary-font-size: 12px;
$secondary-font-size: 16px;
$third-font-size: 14px;
// ==================================================================
// line-height
$primary-line-height: 1.3;
$secondary-line-height: 1.2;
// ==================================================================
// background colors
$primary-Bg-color: #ffffff;
$secondary-Bg-color: #000000;
$acent-Bg-color: #ff6b08;
$header-Bg-color: rgba(0, 0, 0, 0.56);
$footer-Bg-color: #f7f7f7;
// ==================================================================
// animations
$primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
$secondary-animation: cubic-bezier(0.4, 0, 0.2, 1);
