<header class="header">
    <div class="header__container container">
      <nav class="navigation">
        <div class="nav">
        <a href="./index.html" lang="en" class="logo">
            <svg class="logo-filmoteka" width="24" height="24">
                <use href="./images/icons/symbol-defs.svg#logo-filmoteka"></use>
              </svg>
          <h1 class="logo__nav">Filmoteka</h1>
        </a>
        <ul class="site-nav__list">
          <li class="site-nav__item">
        <a href="./index.html" class="home-link current-link">Home</a>
      </li>
        <li class="site-nav__item">
        <a href="/" class="library-link">my library</a>
      </li>
      <li class="site-nav__item">
        <button class="site-nav__button" >Sign in</p>
      </li>
      </nav>
      <div class="form-header">
    <form class="form-search">
      
      <input
        class="search-input"
        type="text"
        name="query"
        autocomplete="off"
        placeholder="Поиск фильмов"
        minlength="3"
      />
      <button class="search-button" type="submit">
        <svg class="icon-search"  width="12" height="12"><use href="./images/icons/symbol-defs.svg#logo-search"></use></svg>
      </button>
    </form>
    </div>
    <!-- <p class="error-text" id="search-error"></p> -->


    <div class="btns-library is-hidden" data-action="btn-library-shown">
      <ul class="button-list">
          <li class="button-list-item"><button type="button" class="button" data-action="btn-watched">Watched</button>
          </li>
          <li class="button-list-item"><button type="button" class="button" data-action="btn-queue">Queue</button></li>
      </ul>
  </div>
  
  </div>
  
</header>