// ============================================
.button {
    color: $lite-text-color;
    background-color: transparent;
    border: 1px solid $lite-text-color;
    font-weight: 500;
    border-radius: 5px;
    padding: 14px 36px 12px 36px;
    min-width: 112px;
    max-width: 136px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      background-color: $acent-Bg-color;
    }
  
    &:first-child {
      margin-right: 15px;
    }
    &.active {
      background-color: $acent-Bg-color;
      border: 1px solid $acent-Bg-color;
    }
    &.modal-button {
      color: $primary-text-color;
      border: 1px solid $secondary-Bg-color;
      transition: 250ms border $primary-animation ,250ms background-color $primary-animation,250ms color $primary-animation;
      &:hover,&:focus{
      background-color: $acent-Bg-color;
      border: 1px solid $acent-Bg-color;
      color: $lite-text-color;
      }
    }
    &.modal-active{
      background-color: $acent-Bg-color;
      border: 1px solid $acent-Bg-color;
      color: $lite-text-color;
    }
  }
  // ===================header=============
  .searching_button{
    position: absolute;
    top: 2px;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 250ms fill $primary-animation;
    &:hover .search_icon,&:focus .search_icon{
      fill:$acent-text-color; 
    }
  }

  .button-list{
    display: flex;
    justify-content: center;
  }
  // ===================footer==============
  .footer_button{
    color: $secondary-text-color;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 250ms  color $primary-animation , 250ms  text-decoration $primary-animation;
    &:hover,
    &:focus {
      color: $acent-text-color;
      text-decoration: underline $acent-text-color;
    }
  }