.footer {
    padding-top: 29px;    
    padding-bottom: 29px;
    background-color: $footer-Bg-color;
}
.footer__info {
    width:100%;      
    display:flex;    
    flex-direction: column;    
    justify-content: center;    
    align-items: center;    
    font-size: 14px;    
    font-weight: 400;    
    line-height: 1.17;    
    color: $secondary-text-color;    
    
    @media screen and (min-width: 769px) {
        flex-direction: row;        
        font-size: 16px;         
    }
}
.line {    
    display:inline-block;        
    border-right: solid 1px $secondary-text-color;    
    height: 13px;    
    margin-left: 5px;    
    margin-right:5px; 
}

.footer__info-text{
    @media screen and (max-width:768px) {
        margin-bottom: 10px;
        
    }
}

.footer__info-team{    
    display:flex;    
    justify-content: center;    
    align-items: center;
}

.icon-heart {   
    fill:$acent-Bg-color;
    margin-left:13px;    
    margin-right:13px;    
    padding-bottom: 1px;
    opacity: 0.5;
    animation: ping 1.5s cubic-bezier(.36,1.83,.8,-0.99) infinite;    
    
    @media screen and (min-width:768px) {       
        margin-left:10px;        
        margin-right:10px;        
    }
}
@keyframes ping {  
    75%, 100% {    
        transform: scale(1.6);    
        opacity: 1; 
    }
}

.team-button{    
    color: $secondary-text-color;    
    text-decoration: underline;  
    border: none;
    background-color: $footer-Bg-color;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $acent-text-color;
        transition: color 250ms $primary-animation;
    }
}

.member-info {
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 20px;
    
    @media screen and(min-width:768px) {
        flex-wrap: wrap;
        margin-left: -10px;
        margin-bottom: -10px;
        flex-direction:row;
    }
    
}

.member-list {
    margin-bottom: 20px;  
    border-radius: 2px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    @media screen and (min-width: 768px) {
         flex-basis: calc(100% / 4 - 10px);
        margin-bottom: 10px;   
        margin-left: 10px; 
    }
}

.member-card {
    position: relative;
}

.member-photo {
    display:flex;
    justify-content: center;
}

.photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.member-description {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgba(47,48,58,0.8);
    
    line-height: 1.17;
    color: #fff;
    text-align: center;

     @media screen and (min-width: 768px) and (max-width: 1024px) {
        height: 45px;
    }
}


.member-name {
    font-size: 14px;
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: center;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 12px;
    }
}

.member-role {
    text-align: center;
}