//zero stiles setup
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
// ==================================================================
// picture stiles setup
img {
  display: block;
  max-width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}
// ==================================================================
// main body stiles
html,
body {
  height: 100%;
  font-family: $primary-font-family;
  font-size: $primary-font-size;
}
// ==================================================================
// main stiles
main {
  flex: 1 1 auto;
}
// ==================================================================
// wrapper stiles
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
// ==================================================================
// main container stiles
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  min-width: 280px;
  @media screen and (min-width: 480px) {
    width: 480px;
    padding: 0 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 76px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 71px;
  }
}
.header__container {
  padding-top: 46px;
  height: 230px;
  //  padding-top: 46px;
}
// ==================================================================
//class visible hidden
.is-hidden {
  @extend %invisible;
}
