.header{
  background-color: $secondary-Bg-color;
}
.header__container {
  // padding: 45px 0;
   // background-color: $header-Bg-color;
  
    height: 230px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 320px) {
    background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
      url('../images/mobile/header-mobile-x1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
        url('../images/mobile/header-mobile-x2.jpg');
    }
}
    @media screen and (min-width: 321px) and (max-width:768px) {
      background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
        url('../images/tablet/header-tablet-x1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
          url('../images/tablet/header-tablet-x2.jpg');
      }
    }
  
    @media screen and (min-width: 769px) {
      background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
        url('../images/desktop/header-desktop-x1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
          url('../images/desktop/header-desktop-x2.jpg');
      }
    }
  }
  .header__container--library {
   // background-color: $header-Bg-color;
    height: 230px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 320px) {
    background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
      url('../images/mobile/library-header-mobile-x1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 320px 230px ;
  
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
        url('../images/mobile/library-header-mobile-x2.jpg');
    }
    }
    @media screen and (min-width: 321px)and (max-width:768px) {
      background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
        url('../images/tablet/library-header-tablet-x1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
          url('../images/tablet/library-header-tablet-x2.jpg');
      }
    }
  
    @media screen and (min-width: 769px) {
      background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
        url('../images/desktop/library-header-desktop-x1.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  
      @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to top left, $header-Bg-color, $header-Bg-color),
          url('../images/desktop/library-header-desktop-x2.jpg');
      }
    }
  }

.nav {
    display: flex;
  //  margin-bottom: 37px;
    
  }
  .navigation{
    margin-bottom: 37px;
  }
  .logo {
    margin-right: auto;
   
    
  }
  .nav a:hover h1{
   
      color: $acent-Bg-color;
      transition: color 250ms $primary-animation;
    
  }
  .nav a:hover svg{
   
    color: $acent-Bg-color;
    transition: color 250ms $primary-animation;
  
}

  .home-link {
    
    color: $lite-text-color;
  }
  
  
  .logo__nav {
    display: none;
  
    @media screen and (min-width: 769px) {
      padding-left: 10px;
      font-size: 30px;
      font-weight: 500;
      line-height: 1,17;
      text-transform: none;
      color: $lite-text-color;
      display: inline-block;
      
    }
  }
 
 
  
  .logo-filmoteka {
    width: 24px;
    height: 24px;
    text-decoration: none;
    cursor: pointer;
    color: $lite-text-color;
  }
  
  .form-search {
    width: 100%;
    position: relative;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
   @media screen and (min-width: 769px) {
      width: 336px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .search-button {
    position: absolute;
    right: 0;
    top: 2px;
    background-color: transparent;
  background-repeat: no-repeat;
  border: transparent;
  color: $lite-text-color;
  cursor: pointer;
  }
  
  .icon-search {
    width: 12px;
    height: 12px;
    fill: $lite-text-color;
    &:hover, &:focus{
      fill: $acent-text-color;
      transition: fill 250ms $primary-animation;
    }
  }
  
  .search-input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 0.5px solid #ffffff;
    font-size: 14px;
    line-height: 1, 14;
    color: #ffffff;
    padding-right: 15px;
    &:hover,&:focus{
      border-bottom: 1px solid $acent-text-color;
      transition: border-bottom 250ms $primary-animation;
    }
  
    &::placeholder {
      font-size: 14px;
      line-height: 1, 14;
      color: $lite-text-color;
      font-weight: 400;
    }
  }
  
  /*.error-text {
    padding-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $warning-text-color;
  }*/
  .site-nav__link{
   
    color: $lite-text-color;
    transition: color 250ms $primary-animation;
    &:hover, &:focus {
      color:  $acent-Bg-color;
    }
  }
  .current-link {
    position: relative;
    font-weight: 500;
   // font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $lite-text-color;
    
    display: block;
    transition: color 250ms $primary-animation;
    &:hover, &:focus {
      color:  $acent-Bg-color;
    }
  }
  
  .current-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: $acent-Bg-color;
    position: absolute;
    left: 0;
    bottom: -3px;
       opacity: 1;
  }

  
/*.site-nav__item:hover{
    color: $acent-Bg-color;
  }*/
  .site-nav__list {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
   // padding-top: 12px;
    color:$lite-text-color;
    margin-right: auto;
  }
  
  .site-nav__item:not(:last-child) {
    margin-right: 39px;
  }
  .site-nav__item:first-child {
    margin-right: 20px;

  }

  .button__list{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
   
    color:$lite-text-color;
  }
 .site-nav__button {
   // text-decoration: none;
   padding: 0;
    background-color: transparent;
    color:$lite-text-color;
    border: transparent;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 250ms $primary-animation;
    &:hover, &:focus {
      color:  $acent-Bg-color;
    }
    
  }
.site-nav__list,
.button__list{
  @media screen and (max-width: 769px){
font-size:$primary-font-size ;
  }
}
  
.message-register{
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
 color: red;
}
